.App {
  text-align: center;
}
.Element {
  display: inline-block;
  padding: 20px;
  margin: 30px;
  background-color: rgba(114, 107, 107, 0.089);
}
.BgStyle {
  transition: all 0.5s ease-in-out;
  color: red;
}
